%h2 Images

.pull-right
  = will_paginate images

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Image ID
      %th Account
      %th Key
  %tbody
    - images.each do |i|
      %tr
        %td
          %small
            %a{:href => url("/images/#{i.id}")}=i.name
        %td
          %small=i.image_id
        %td
          %a{ :href => url("/accounts/#{i.account_id}")}=i.account.name
        %td
          - if i.key.nil?
            %em none
          - else
            %a{ :href => url("/keys/#{i.key_id}")}=i.key.name
        %td
          - if i.ready_for_launch?
            %a{ :class => 'btn btn-success', :href => url("/images/#{i.id}/launch") } Launch
          %a{ :class => 'btn', :href => url("/images/#{i.id}/edit") } Edit
          %a{ :class => 'btn', :href => url("/images/#{i.id}/favorite?remove") } Remove

= will_paginate images
