%h3 Launch #{image.name}

%h4 Server Details

%table.table.table-striped.table-bordered.summary
  %tbody
    %tr
      %th Account
      %td
        %a{:href => url("/accounts/#{image.account.id}")}=image.account.name
    %tr
      %th Image
      %td
        %span.muted="#{image.description}"
        %a{:href => url("/images/#{image.id}")}="(#{image.description})"
    %tr
      %th Profile
      %td
        %span.muted=image.hwp_id

    - unless image.realm_id.empty?
      %tr
        %th Location
        %td
          %span.muted=image.realm_id

    - unless image.firewall_id.empty?
      %tr
        %th Firewall
        %td
          %span.muted=image.firewall_id
    %tr
      %th Authentication Method
      %td
        %span.muted="#{image.key.kind}:#{image.key.username}@"
        - if image.key.kind.to_s =~ /^ssh/
          %a{ :href => url("/keys/#{image.key.id}")}=image.key.name
        - else
          = image.key.password
    %tr
      %th Status
      %td
        - if image.ready_for_launch?
          %span.label.label-success READY
        - else
          %span.label.label-info PENDING

%h4 Assign Recipes

- form_for image, '/servers', :submit => false do
  - recipes.each do |r|
    %label.checkbox
      %input{ :type => :checkbox, :name => "recipe[#{r.id}]"}=r.name

  %p.pull-right
    %button{ :type => :submit, :class => 'btn btn-success' } Continue

