%h3="My Servers"

- pagination(servers, "/servers", :klass => [ 'pull-right' ])

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Instance
      %th Account
      %th Image
      %th IP Address
      %th State
  %tbody
    - servers.each do |s|
      %tr
        %td
          %a{ :href => url("/servers/#{s.id}")}=s.instance_id
        %td
          %a{ :href => url("/accounts/#{s.image.account.id}")}
            %small=s.image.account.name
        %td
          %a{ :href => url("/images/#{s.image.id}")}
            %small=s.image.name
        %td
          %small=s.address
        %td
          %span.label=s.state
        %td
          - if s.state == 'STOPPED'
            %a{ :class => 'btn-danger btn', :href => "/servers/#{s.id}/destroy?force=1" } Force Delete
          - else
            %a{ :class => 'btn-danger btn', :href => "/servers/#{s.id}/destroy" } Stop


- pagination(servers, "/servers")
