%h3="#{account.name} images"

.pull-right
  = will_paginate images

%form{ :class => 'form-search pull-left', :action => "/accounts/#{account.id}/images"}
  %input{ :type => :text, :name => :q, :class => 'input-medium search-query' }
  %button{ :type => :submit, :class => 'btn'} Search


%table.table.table-striped.table-bordered
  %thead
    %tr
      %th ID
      %th Name
      %th Description
  %tbody
    - images.each do |i|
      %tr
        %td
          %a{ :href => url("/images/#{i.id}")}=i.image_id
        %td=i.name
        %td=i.description

= will_paginate images
